/* General styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  /* Container for the orders page */
  .orders-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .orders-container:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  /* Header */
  .orders-container h3 {
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Table styles */
  .MuiTable-root {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
  .MuiTableHead-root {
    background-color: #f4b41a;
  }
  
  .MuiTableHead-root .MuiTableCell-root {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    padding: 10px 20px;
  }
  
  .MuiTableBody-root .MuiTableCell-root {
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    color: #555555;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .MuiTableBody-root .MuiTableRow-root {
    transition: background-color 0.3s ease;
  }
  
  .MuiTableBody-root .MuiTableRow-root:hover {
    background-color: #f0f8ff;
  }
  
  /* Pagination buttons */
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease-in-out;
  }
  
  .pagination-button:hover {
    background-color: #0056b3;
  }
  
  .pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* No orders message */
  .no-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
    color: #777777;
  }
  
  /* Loading spinner */
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-spinner .MuiCircularProgress-root {
    color: #ffcc00;
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 768px) {
    .orders-container {
      padding: 10px;
    }
  
    .MuiTableCell-root {
      font-size: 12px;
      padding: 10px;
    }
  
    .MuiTableHead-root .MuiTableCell-root {
      font-size: 14px;
    }
  
    .pagination-button {
      padding: 8px 12px;
    }
  }
  